.Rhistory
/Meta/
/doc/
data-raw/core2014full.rda
inst/doc
*.RData

# vignette
vignettes/*.log
vignettes/*.pdf
vignettes/*_cache/
vignettes/*_files/

# autoconf
autom4te.cache/
config.log
config.status
src/Doxyfile
src/Makefile

# libtool
src/.deps/
src/.libs/
src/libtsshmm.la
src/libtsshmm_la-*
