.Rhistory
/Meta/
/doc/
data-raw/core2014full.rda
inst/doc
*.RData

# vignette
vignettes/*.log
vignettes/*.pdf
vignettes/*_cache/
vignettes/*_files/

# autoconf
autom4te.cache/
config.log
config.status
configure
src/Doxyfile
src/Makefile

# aclocal
aclocal.m4

# automake
src/Makefile.in
tools/compile
tools/install-sh
tools/missing

# libtool
libtool
src/.deps/
src/.libs/
src/libtsshmm.la
src/libtsshmm_la-*
tools/ar-lib
tools/config.guess
tools/config.sub
tools/depcomp
tools/libtool.m4
tools/ltmain.sh
tools/ltoptions.m4
tools/ltsugar.m4
tools/ltversion.m4
tools/lt~obsolete.m4

# bundled dependency
src/ghmm-0.9-rc3/

# doxygen
src/doc
